.GridThree {
  display: grid;
  grid-template-columns: 1fr min(90ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}

.GridThree > * {
  grid-column: 2;
}

.GridThree--FullBleed {
  width: 100%;
  /* 
    1 / 4 is a start/end syntax; we're saying the element should start on 
    Column 1 (inclusive) and span all the way to Column 4 (exclusive).
  */
  grid-column: 1 / 4;
}
