.___proto___ {
  padding: 4px;
  border-radius: var(--border-radius-default);
  background-color: aliceblue;
}

.___proto___Header {
  padding: 4px;
  border-radius: var(--border-radius-default);
  background-color: aliceblue;
  box-shadow: var(--box-shadow-medium);
}
