.PrototypeProperties {
  margin-top: 8px;
  padding: 4px;
  border-radius: var(--border-radius-default);
  background-color: seashell;
}

.PrototypePropertiesHeader {
  padding: 4px;
  border-radius: var(--border-radius-default);
  background-color: seashell;
  box-shadow: var(--box-shadow-medium);
}
